/***************************************************/
/*ECRAN 1440PX*/
/***************************************************/

@media (min-width: 1440px)

{

/***************************************************/
/*HEADER*/
/***************************************************/


	.debut
	{
		display: flex;
	    flex-direction: row;
	    margin: 0em 0.02em 0.02em 0.02em; /*haut droit bas gauche*/
	    align-items: center;
	    justify-content: flex-end;
	}


	.debut_1
	{
	    display: flex;
	    flex-direction: row;
	    margin: 0em 0.02em 0.02em 0.02em;
	    align-items: center;
	}

	.logo
	{
		flex-grow: 5;
	}


	header nav ul
	{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style: none;
	}

	nav li
	{
		margin-right: 2em;
	}

	.menu
	{
		padding: 1.25em;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style-type: none;
		color: #0065FC;
	}

	.menu_2
	{
		padding: 1.25em;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style-type: none;
	}

	.menu_3
	{
		padding: 1.25em;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style-type: none;
		color: #0065FC;

	}	

	#barre
	{
		display: inline-block;
		line-height: 3.75em;
		border-top: 0.3125em solid #0065FC;
		background-color: white;
		color: #0065FC;
	}

	#barre_2
	{
		display: inline-block;
		line-height: 3.75em;
		border-top: 0.3125em solid white;
		background-color: white;
	}

	#barre_3
	{
		display: inline-block;
		line-height: 3.75em;
		border-top: 0.3125em solid white;
		background-color: white;
	}

	/*.inscrire
	{
		color:  #0065FC;
	}*/

	ul
	{
		margin: 0em;
	}



	/***************************************************/
	/*UNIVERSEL - BODY*/
	/***************************************************/




	@font-face 
	{
		font-family: "Raleway";
		src: url('font/Raleway-Regular.ttf');
	}

	@font-face 
	{
		font-family: "Raleway";
		font-weight: bold;
		src: url('font/Raleway-Bold.ttf');
	}

	body
	{
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		background-color: #ffffff;
		margin: 0em;
	}

	section
	{
		margin-left: 1em;
		margin-right: 1em;
	}

	h2
	{
		margin: 0em;
	}

	h3
	{
		margin: 0.5em;
	}

	p
	{

		margin: 0.5em;
	}

	ul
	{
		font-size: 0.8em;
	}

	button
	{
		border: 0.15em gray solid;
	    line-height: 2.5;
	    padding: 0em 0.078125em;
	    font-size: 1em;
	    text-align: center;
	    color: #0065FC;
	    border-radius: 3em;
	}

	a:hover /*passage souris*/
	{
		color: green;
	}

	a
	{
		text-decoration: none;
		color: black;
	}

	.navigation
	{
		display: flex;
		flex-direction: column;
		margin: 0.02em 0.02em 0.02em 0em; 
	}

	#box_search_1
	{
		display: flex;
		margin: 0em 0em 0.01em 0em; 
	}

	.marqueur
	{
		border: 0.0625em solid #F2F2F2;
		padding: 0.875em;
	    text-align: center;
		border-radius: 0.9375em 0em 0em 0.9375em;
		background-color: #F2F2F2;	
	}

	.search
	{
		padding: 0.875em;
		border: 0.0625em solid #F2F2F2;
	    text-align: justify;
	}

	.bouton_search
	{
		padding: 0.875em;
		border: 0.0625em solid #C5C5C5;
	    text-align: justify;
		border-radius: 0em 0.9375em 0.9375em 0em;
		background-color: #0065FC;
		color: aliceblue;
	}
	
	/*#filtres nav ul
	{
		list-style-type: none;
		display: flex;
		flex-direction: row;
		
	}*/

	.filtres2
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0.9375em 0em 0.9375em 0em;
		width: 60%;
		text-align: center;
		font-weight: bold;
	}

	.titre_filtre
	{
		display: flex;
		flex-direction: row;
	    align-items: center;
	    margin-left: 0.625em;
	}

	.filtre
	{
		border: 0.125em solid #F2F2F2;
		border-radius: 1.5625em;
		padding-top:0em;
		padding-bottom:0em;
		padding-right:1.25em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	    background-color: white;		
	}
	  
	.inblock
	{
		background-color: #DEEBFF;
		border: 0em solid white;
		border-radius: 2.5em 2.5em 2.5em 2.5em;
		margin-right: 0.625em;
		margin-bottom: 0em;
		padding: 0.625em;
		padding-right: 0.625em;
		padding: 0.875em 0.875em 0.875em 0.9375em;
		display: flex;
	    flex-wrap: wrap;
	    
	}

	.fas
	{
		color: #0065FC;
	}

	.fa-info-circle
	{
		font-size: 1.5em;
	}

	.fa-chart-line
	{
		display: flex;
		color: black;
		flex-direction: row;
		justify-content: flex-end;
	}

	.nouvelles
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 2em;
	}

	#i_info
	{
	    background-color: #0065FC;
	    color: white;
	    border-radius: 0.5em;

	}

	.info
	{
		margin-left: 0.01em;
	}




/***************************************************/
/*HEBERGEMENT*/
/***************************************************/




	.placement
	{
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		flex-wrap: nowrap;
	}

	.placement_1
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
		padding: 0.01em;
		align-content: stretch;
	}

	.heberger
	{
	    flex: 0.5em;
	    background-color: #f1f1f1;
	    padding: 1.25em;
	    margin-right: 0.1em;
	    border-radius: 1.25em;	
	}

	.gallerie_1
	{
		display: flex;
	    padding: 0.01em;
	    justify-content: space-around;
	    align-content: center;
	    flex-wrap: nowrap;
	}

	.box_image
	{
		margin: 0.75em; 
		background-color: white;
		border-radius: 0.9375em;
		padding: 0.5em;
		box-shadow: 0em 0em 0.9375em rgba(0, 0, 0, 0.5);
	}

	.box_image img
	{
		width: 16em;
		height: 7em;
		padding: 0.05em;	/*marge interieur*/
		object-fit: cover;
	}

	.cadre
	{
		border-radius: 0.9375em 0.9375em 0em 0em;
	}

	#etoile_gris
	{
		color: #DEEBFF;

	}

	#etoile_bleu
	{
		color: #0065FC;
	}

	.gallerie_2
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

	}

	.stars_1
	{
		margin-left: 0.5em; 
	}

	.stars_3
	{
		margin-left: 0.5em; 
	}

	.stars_5
	{
		margin-left: 0.5em; 
	}

	.stars_2
	{
		margin-left: 0.5em; 
	}

	.stars_4
	{
		margin-left: 0.5em; 
	}

	.stars_6
	{
		margin-left: 0.5em; 
	}

	.star
	{
		margin-left: 0.5em; 
	}

	.stars_9
	{
		margin-left: 0.5em; 
	}



/***************************************************/
/*POPULAIRE*/
/***************************************************/




	.placement_2
	{
		background-color: white;
		flex-direction: column;
		justify-content: space-between;
		align-content: stretch;
		flex-direction: row;
		display: flex;
		height: 100%;
	}

	.poputitre
	{
		display: flex;
		justify-content: space-between;
		padding: 0em 0.5em 0.5em 0.5em;
	}

	.fa-chart-line
	{
		font-size: 1.4em;
		padding-top: 0.35em;
		padding-right: 0.5em;
	}

	.populr
	{
	    background-color: #f1f1f1;
	    padding: 1.25em;
	    margin-left: 0.1em;
	    border-radius: 1.25em;
	    justify-content: space-between;
	}

	/*.container
	{

		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0.01em;
		align-content: stretch;
	}*/

	.populr_1
	{
	    padding-left: 1.25em;
	    margin-left: 0.1em;
	    border-radius: 1.25em;
	    /*justify-content: space-between;*/
	}

	.populaire_1
	{
	    width: 22em;
	    height: 9em;
	    object-fit: cover;
	    background-image: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
	    background-repeat: no-repeat;
	    background-size: 40% 100%;
	    border: 0.3125em solid rgb(255, 255, 255);
	    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
	    border-radius: 0.9375em;
	    background-color: white;
	}

	.poputext
	{
		display: flex;
		flex-direction: column;
		margin-left: 4em;
		padding: 0em 0em 0em 6.25em;
	}

	.populr_2
	{
	    padding: 1.25em;
	    margin-left: 0.1em;
	    border-radius: 1.25em;
	    /*justify-content: space-between;*/
	}

	.populaire_2
	{
	    width: 22em;
	    height: 9em;
	    object-fit: cover;
	    background-image: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
	    background-repeat: no-repeat;
	    background-size: 40% 100%;
	    border: 0.3125em solid rgb(255, 255, 255);
	    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
	    border-radius: 0.9375em;
	    background-color: white;
	}

	.populr_3
	{
	    padding-left: 1.25em;
	    margin-left: 0.1em;
	    border-radius: 1.25em;
	    /*justify-content: space-between;*/
	}

	.populaire_3
	{
	    width: 22em;
	    height: 9em;
	    object-fit: cover;
	    background-image: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
	    background-repeat: no-repeat;
	    background-size: 40% 100%;
	    border: 0.3125em solid rgb(255, 255, 255);
	    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
	    border-radius: 0.9375em;
	    background-color: white;
	}


	span.tab
	{
		display: none;
	}



/***************************************************/
/*ACTIVITER*/
/***************************************************/




	#activité
	{
		margin-top: 2.5em;
	}

	.activit
	{
		display: flex;
		flex-direction: row;
		margin: 0.6em;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.acti_1
	{
		width: 20em;
	    height: 33em;
	    object-fit: cover;
	    border-radius: 0.9375em;
	    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
	    /*margin: 0.3125em;*/
	}

	.cadre_1
	{
	    width: 20em; /*23.75*/
	    height: 30em;/*35*/
	    object-fit: cover;
	    border-radius: 0.9375em 0.9375em 0em 0em;	
	}

	.nom
	{
		margin:0.625em 0em 0.625em 0.9375em;
		justify-content: space-between;
	}

	.double_act
	{
		display: flex;
		flex-direction: column;
		width: 20em;
		height: 33em;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.acti_2
	{
	    width: 20em;
	    height: 18em;
	    object-fit: cover;
	    border-radius: 0.9375em;
	    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
	    /*margin: 0.3em 1.1875em 1.1875em 1.1875em;*/
	}

	.cadre_2
	{
		width: 20em;
	    height: 15em;
	    object-fit: cover;
	    border-radius: 0.9375em 0.9375em 0em 0em;
	}

	.acti_3
	{
	    width: 20em;
	    height: 12em;
	    object-fit: cover;
	    border-radius: 0.9375em;
	    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
	   /* margin: 1.1875em 1.1875em 1.1875em 1.1875em;*/
	}

	.cadre_3
	{
		width: 20em;
	    height: 9em;
	    object-fit: cover;
	    border-radius: 0.9375em 0.9375em 0em 0em;
	}





/***************************************************/
/*Footer*/
/***************************************************/




	footer
	{
		padding: 1.25em;
		background-color: #F2F2F2;
		margin-top: 4em;
	}

	#flex_footer
	{
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		width: 70em;
	}

	.footer_placement
	{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;	
	}

}









/***************************************************/
/*Responsive*/
/***************************************************/




@media (max-width: 450px) 
{
	.activit
	{
		display: flex;
		flex-direction: row;
		margin: 0.6em;
		flex-wrap: wrap;
		justify-content: space-between;

	}

	.footer
	{
		display: flex;
		flex-wrap: wrap;
		width: 0em;
	}

}




/*				NOTES

populaire etoile sur le bas créer une div pour les deplacer en flex

logo des plus populaire

regler l'espacement de la gauche
*/