/***************************************************/
/*HEADER*/
/***************************************************/
.debut
{
	display: flex;
    flex-direction: row;
    margin: 0em 0.02em 0.02em 0.02em;
    align-items: center;
    justify-content: flex-end;
}


.menu
{
	display: flex;
	padding: 1.25em;
	flex-direction: row;
	justify-content: flex-end;
}

#barre
{
	display: inline-block;
	line-height: 3.75em;
	border-top: 0.3125em solid #0065FC;
	background-color: white;
	color: #0065FC;
}

.inscrire
{
	color:  #0065FC;
}

.logo
{
	flex-grow: 5;
}


/*si menu en nav avec point*/

/*header nav ul
{
	border-top: silver;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav li
{
	margin-right: 2em;
}*/


/***************************************************/
/*UNIVERSEL - BODY*/
/***************************************************/

body
{
	font-family: 'Roboto' , sans-serif;
	background-color: #ffffff;
}

h1
{
	font-size: 2em; /*taille de police*/
	font-weight: bold; /*gras*/
	margin: 0.67em 0;
	color: rgb(102,153,255);
}

/*h2
{
	font-size: 1em;
	opacity: 0.8;
	margin: 0.5em;
}*/

h3
{

}

p
{
	font-size: 0.8em;
	margin: 0.5em;
}

.navig
{
	display: flex;
	flex-direction: column;
	margin: 0.02em 0.02em 0.02em 0.02em;
}

#box_search_1
{
	display: flex;
	margin: margin: 0em 0em 0.01em 0em;
}

.marker
{
	border: 0.0625em solid #F2F2F2;
	padding: 0.875em;
	width: 1.5625em;
    height: 0.625em;
    text-align: justify;
	border-radius: 0.9375em 0em 0em 0.9375em;
	background-color: #F2F2F2;	
}

.search
{
	padding: 0.875em;
	border: 0.0625em solid #F2F2F2;
	width: 9.375em;
    height: 0.625em;
    text-align: justify;
}

.button_search
{
	padding: 0.875em;
	border: 0.0625em solid #C5C5C5;
	width: 5em;
    height: 0.625em;
    text-align: justify;
	border-radius: 0em 0.9375em 0.9375em 0em;
	background-color: #0065FC;
	color: aliceblue;
}

ul
{
	font-size: 0.8em;
}

button
{
	border: 0.15em gray solid;
    line-height: 2.5;
    padding: 0em 0.078125em;
    font-size: 1em;
    text-align: center;
    color: #0065FC;
    border-radius: 3em;
}

a:hover /*passage souris*/
{
	color: green;
}

section
{
	border: 0.05em blue solid;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #F2F2F2;
}

a
{
	text-decoration: none;
	color: black;
}

.fa-star
{
	color: #DEEBFF;
	cursor: pointer;
	padding: 0.0625rem;
}

.checked
{
	color: #0065FC;
}


@media all and (max-device-width: 30em) {}


#filtres nav ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
}



.container
{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}



.box_image
{
	background-color: white;
	border-radius: 1em;
	border: 0.1em white solid;
	width: 15em;	/*largeur*/
	height:15em;	/*hauteur*/
	text-align: center;

}

img
{
	width: 6.375em;
	height:6.375em;
	padding: 0.05em;	/*marge interieur*/
	margin-top: 0.5em;	/*marge exterieur vers interieur*/
	object-fit: cover;

}


/***************************************************/
/*Footer*/
/***************************************************/

footer
{
	border: 0.05em blue solid;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #F2F2F2;
}


/***************************************************/
/*Flexbox*/
/***************************************************/

#flex_footer
{
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}