/***************************************************/
/*UNIVERSEL*/
/***************************************************/

body
{
	font-family: 'Roboto' , sans-serif;
	background-color: #ffffff;
}

h1
{
	font-size: 2em; /*taille de police*/
	font-weight: bold; /*gras*/
	margin: 0.67em 0;
	color: rgb(102,153,255);
}

h2
{
	font-size: 1em;
	opacity: 0.8;
	margin: 0.5em;
}

h3
{
	
}

p
{
	font-size: 0.8em;
	margin: 0.5em;
}

ul
{
	font-size: 0.8em;
}

button
{
	border: 0.15em gray solid;
    line-height: 2.5;
    padding: 0 1.25px;
    font-size: 1rem;
    text-align: center;
    color: #0065FC;
    border-radius: 3em;
}

a:hover /*passage souris*/
{
	color: green;
}

section
{
	border: 0.05em blue solid;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #F2F2F2;
}

a
{
	text-decoration: none;
	color: black;
}

.fa-star
{
	color: #DEEBFF;
	cursor: pointer;
	padding: 0.0625rem;
}

.checked
{
	color: #0065FC;
}


@media all and (max-device-width: 30em) {}


#filtres nav ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
}



.container
{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.box_image
{
	background-color: white;
	border-radius: 1em;
	border: 0.1em white solid;
	width: 15em;	/*largeur*/
	height:15em;	/*hauteur*/
	text-align: center;

}

img
{
	width: 6.375em;
	height:6.375em;
	padding: 0.05em;	/*marge interieur*/
	margin-top: 0.5em;	/*marge exterieur vers interieur*/
	object-fit: cover;

}



/***************************************************/
/*HEADER*/
/***************************************************/

.inscrire
{
	/*font-size: 1.5em;
	font-weight: bold;*/
	color:  #0065FC;
}

header nav ul
{
	border-top: silver;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav li
{
	margin-right: 2em;
}

/***************************************************/
/*Footer*/
/***************************************************/

footer
{
	border: 0.05em blue solid;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #F2F2F2;
}


/***************************************************/
/*Flexbox*/
/***************************************************/

#flex_footer
{
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}